src/main/resources/spring/jaxb-mapping.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Contact">
        <xs:complexType>
            <xs:all>
                <xs:element name="id" type="xs:int"/>
                <xs:element name="firstName" type="xs:string"/>
                <xs:element name="lastName" type="xs:string"/>
                <xs:element name="birthDate" type="xs:date"/>
                <xs:element name="version" type="xs:int"/>
            </xs:all>
        </xs:complexType>
    </xs:element>
</xs:schema>